<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" type="text/css">

  <title>ATLAS</title>
</head>

<body>
  <div class="container">
    <h1>ATLAS status</h1>
    <p class="lead">
    &ldquo;Heartbeats&rdquo; are satellite communications from the ATLAS system.
    We get a new heartbeat (about) every hour.
    </p>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <dl class="dl-horizontal">
          <dt>Last heartbeat</dt>
          <dd>{{last_heartbeat}}<dd>

          <dt>Last scan started</dt>
          <dd>{{last_scan_start}}<dd>

          <dt>Next scan expected</dt>
          <dd>{{next_scan_start}}<dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>External temperature</dt>
          <dd>{{temperature_external}} &deg;C<dd>

          <dt>Temperature in mount</dt>
          <dd>{{temperature_mount}} &deg;C<dd>

          <dt>Atmospheric pressure</dt>
          <dd>{{pressure}} mBar<dd>

          <dt>Humidity</dt>
          <dd>{{humidity}}%<dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Battery #1</dt>
          <dd>{{soc1}}%<dd>

          <dt>Battery #2</dt>
          <dd>{{soc2}}%<dd>
        </dl>
      </div>

      <div class="col-xs-12 col-md-6 col-md-offset-2">
        <div class="thumbnail">
          <a href="{{latest_image_url}}">
            <img src="{{latest_image_url}}" alt="The latest image from the ATLAS camera.">
          </a>
          <div class="caption">
            <p>This image was taken at {{latest_image_datetime}}.</p>
          </div>
        </div>
      </div>

    </div>

    <h2>Charts</h2>

    <p>
      These charts are driven by the heartbeat messages, and are updated with each new message.
      Use the sliders at the bottom of each chart to change the range of dates displayed.
      The charts are linked, meaning that changes to the date ranges one chart will be propagated to all the charts.
    </p>

    <p>
      Each chart also includes a rolling mean feature, which averages out values over a number of hours.
      The period of the rolling mean is displayed in the bottom left of each chart in a text box, and you can modify this number.
      Use the rolling mean to smooth out the charts and look for daily (or longer term) trends.
    </p>

    <p>
      Between October 2015 and May 2016, the ATLAS system was nonoperational, creating a large data gap for that period.
    </p>

    <h3>State of charge</h3>

    <p>
      The &ldquo;state of charge&rdquo; of our battery systems nominally varies between 100% and 0%, but due to the way it is calculated it can drift a bit.
      In the summer, almost all of our power comes from our large solar panels.
      In the winter, when the sun barely comes above the horizon, we use methanol fuel cells to power the system.
    </p>

    <div class="row">
      <div id="fig-soc" class="col-xs-11">
      </div>
    </div>

    <h3>Temperature</h3>

    <p>
      The ATLAS system has two temperature sensors: one external sensor on the southern solar tower, and one inside of the scanner mount.
      The scanner mount is black, so the temperature inside of the mount is almost always higher than the atmospheric temperature.
      On sunny days, the separation between the two temperatures will be larger, and during extended cloudy periods or during the winter the temperatures will be almost identical.
    </p>

    <div class="row">
      <div id="fig-temperature" class="col-xs-11">
      </div>
    </div>

    <hr>

    <div class="row logos logos-primary">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="thumbnail">
          <a href="http://www.erdc.usace.army.mil/Locations/CRREL.aspx">
            <img src="/static/rsgis.png" alt="CRREL RSGIS">
          </a>
        </div>
      </div>
    </div>

    <div class="row logos logos-secondary">
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <a href="http://www.heisingsimons.org/">
            <img src="/static/heising-simons.png" alt="Heising-Simons Foundation">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <a href="http://climatechange.umaine.edu/glaciology/index.html">
            <img src="/static/umaine.png" alt="The University of Maine">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <a href="http://stearns.dept.ku.edu/">
            <img src="/static/ku.png" alt="The University of Kansas">
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; 2016 <a href="mailto:pete.gadomski@gmail.com">Peter J. Gadomski</a>. Served on {{now}}.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" type="text/javascript">
</script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" type="text/javascript">
</script><script src="static/dygraph.min.js" type="text/javascript">
</script><script src="static/dygraph-synchronizer.js" type="text/javascript">
</script><script src="static/index.js" type="text/javascript">
</script>
</body>
</html>
