<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" type="text/css">

  <title>ATLAS status</title>
</head>

<body>
  <div class="container">
    <h1>Iridium modems</h1>

    <ul class="nav nav-tabs" role="tablist">
    {{#each modems}}
      <li role="presentation" class="{{active}}"><a href="#{{id}}" aria-controls="{{id}}" role="tab" data-toggle="tab">{{imei}}</a></li>
    {{/each}}
    </ul>


    <h2>Last one hundred messages</h2>
    
    <div class="tab-content">
    {{#each modems}}
      <div role="tabpanel" class="tab-pane {{active}}" id="{{id}}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Datetime</th>
              <th>Payload</th>
            </tr>
          </thead>
          <tbody>
            {{#each messages}}
            <tr>
              <td>{{datetime}}</td>
              <td>{{payload}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/each}}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" type="text/javascript">
</script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" type="text/javascript">
</script>
</body>
</html>
